babel
blinker
cachelib
certifi
charset-normalizer
click
colorzero
contourpy
cycler
flask
flask-caching
fonttools
gpiozero
humanize
idna
itsdangerous
jinja2
kiwisolver
lgpio
markdown
markupsafe
matplotlib
opencv-python
packaging
pigpio
pillow
pyaudio
pygame
pyparsing
pyserial
python-dateutil
pyyaml
readchar
requests
rpi-gpio
scipy
setuptools
six
smbus2
spidev
urllib3
werkzeug
